In [8]:
# Google "early stage diabetes risk orediction dataset"

In [9]:
#import library
import pandas as pd

In [ ]:
# read the CSV into a DataFrame
df = pd.read_csv("diabetes_data_upload.csv")
df

In [ ]:
# replace the values in the DataFrame with .replace
df = df.replace("No", 0)
df = df.replace("Yes", 1)

df = df.replace("Negative", 0)
df = df.replace("Positive", 1)

# we 'll consider Gender column as isMale
df = df.replace("Female", 0)
df = df.replace("Male", 1)

df

In [ ]:
# check for missing values
df.isnull().sum()

In [ ]:
# check the dtypes of the columns
# as Long as you get int or float, it's all good
df.dtypes

In [19]:
replace = {"Gender": "isMale"}
df = df.rename(columns=replace)

,Age,isMale,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,0,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1
516,48,0,1,1,1,1,1,0,0,1,1,1,1,0,0,0,1
517,58,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1
518,32,0,0,0,0,1,0,0,1,1,0,1,0,0,1,0,0
519,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0